/* Modern Era Font */
@font-face {
  font-family: 'Modern Era';
  src: url('/fonts/ModernEra-Regular.woff') format('woff'),
       url('/fonts/modern-era-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Modern Era';
  src: url('/fonts/modern-era-medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Modern Era';
  src: url('/fonts/modern-era-bold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* PP Mori Font */
@font-face {
  font-family: 'PP Mori';
  src: url('/fonts/PPMori-Extralight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Mori';
  src: url('/fonts/PPMori-ExtralightItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PP Mori';
  src: url('/fonts/PPMori-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Mori';
  src: url('/fonts/PPMori-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PP Mori';
  src: url('/fonts/PPMori-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Mori';
  src: url('/fonts/PPMori-SemiBoldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
