@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-0 antialiased;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
  }

  #root {
    @apply w-full min-h-screen;
  }

  button:hover {
    @apply opacity-90;
  }

  button:active {
    @apply scale-[0.98];
  }

  input:focus,
  button:focus {
    @apply outline-2 outline-[#739490] outline-offset-0;
  }

  input[type="range"] {
    accent-color: #F2FBF8;
  }
  input[type="checkbox"] {
    accent-color: #F2FBF8;
  }

  label {
    color: #8CD9BF;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #061514;
}

::-webkit-scrollbar-thumb {
  background: #3a3d45;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4a4d55;
}
